.icons{
    padding: 10px;
    font-size: 40px;
}

.earning{
    padding-bottom: 200px;
}


.background{
    background-image: url(img/images/banner4.jpg);
    width: 100%;
    height: 100vh;
}

.feature-detail :hover{
    color: #39FF14;
}

.founder-detail :hover{
    color: #39FF14;
}

.sign-in {
    background: linear-gradient(to right, #009933 0%, #66ff33 38%);

}

.feature-items-3{
    padding-bottom: 18px;
}
